<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List - Mega Schedule</title>
    <link rel="shortcut icon" href="{{ assetsUrl('images/schedule.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ assetsUrl('images/schedule.png') }}">

    @section('stylesheet')
    {{ style('css/bootstrap.min.css' + '?v=' + config('app.version')) }}
    {{ style('css/bootstrap-theme.min.css' + '?v=' + config('app.version')) }}
    {{ style('css/custom.css' + '?v=' + config('app.version')) }}
    @endsection

</head>
<body ng-app="MegaSchedule" ng-cloak>

    @!section('content')

    <footer class="text-center">
        <div class="text-center" style="padding: 3rem; font-weight: bold; font-size: 16px">
            Copyright © {{ currentTime.getFullYear() }} <a class="text-reset fw-bold text-decoration-none" target="_blank" href="https://megaads.vn/">MegaAds</a>. All rights reserved.
        </div>
    </footer>

    @section('javascript')
    {{ script('/js/jquery.min.js' + '?v=' + config('app.version')) }}
    {{ script('/js/bootstrap.min.js' + '?v=' + config('app.version')) }}
    {{ script('/js/pnotify.custom.min.js' + '?v=' + config('app.version')) }}
    {{ script('/js/angular.min.js' + '?v=' + config('app.version')) }}
    {{ script('/js/ng-file-upload-shim.min.js' + '?v=' + config('app.version')) }}
    {{ script('/js/ng-file-upload.min.js' + '?v=' + config('app.version')) }}
    {{ script('/js/angular-sanitize.min.js' + '?v=' + config('app.version')) }}
    {{ script('/js/base-controller.js' + '?v=' + config('app.version')) }}
    @endsection

    <div class="loading" style="display: none">
        <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
    </div>
</body>
</html>
